In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(pd.read_csv('adultdata_dirty.csv', na_values=" ?"))
string_cols = ["WORK_CLASS", "EDUCATION", "MARITAL_STATUS", "OCCUPATION", "RELATIONSHIP", "RACE", "SEX", "NATIVE_COUNTRY", "CLASS"]

#remove row if it contains ?
df = df.dropna(axis=0)

for col in string_cols:
  #remove white spaces
  df[col] = df[col].str.strip()

df.to_csv('adultdata.csv')

In [3]:
#unique values in marital status
df = pd.DataFrame(pd.read_csv('adultdata.csv'))
print(df['MARITAL_STATUS'].unique())

['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']

In [4]:
#ambiguities between relationship and marital status
df = pd.DataFrame(pd.read_csv('adultdata.csv'))
df.loc[(df['RELATIONSHIP'] == 'Unmarried') & (df['MARITAL_STATUS'].isin(['Married-civ-spouse', 'Married-spouse-absent','Married-AF-spouse']))]

,Unnamed: 0,AGE,WORK_CLASS,FNLWGT,EDUCATION,EDUCATION_NUM,MARITAL_STATUS,OCCUPATION,RELATIONSHIP,RACE,SEX,CAPITAL_GAIN,CAPITAL_LOSS,HOURS_PER_WEEK,NATIVE_COUNTRY,CLASS
162,175,27,Private,253814,HS-grad,9,Married-spouse-absent,Sales,Unmarried,White,Female,0,0,25,United-States,<=50K
428,463,50,Private,193374,1st-4th,2,Married-spouse-absent,Craft-repair,Unmarried,White,Male,0,0,40,United-States,<=50K
447,483,41,Private,193626,HS-grad,9,Married-spouse-absent,Craft-repair,Unmarried,White,Female,0,0,40,United-States,<=50K
471,510,49,Private,141944,Assoc-voc,11,Married-spouse-absent,Handlers-cleaners,Unmarried,White,Male,0,1380,42,United-States,<=50K
574,624,47,Private,241832,9th,5,Married-spouse-absent,Handlers-cleaners,Unmarried,White,Male,0,0,40,El-Salvador,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29010,31306,52,State-gov,109600,Masters,14,Married-spouse-absent,Exec-managerial,Unmarried,White,Female,4787,0,44,United-States,>50K
29248,31560,40,Private,31621,HS-grad,9,Married-spouse-absent,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
29473,31817,49,Private,402462,Bachelors,13,Married-spouse-absent,Transport-moving,Unmarried,White,Male,0,0,30,Columbia,<=50K
29894,32269,37,Private,249720,Assoc-voc,11,Married-spouse-absent,Sales,Unmarried,Black,Female,0,0,32,United-States,<=50K
29932,32312,34,Private,346034,12th,8,Married-spouse-absent,Handlers-cleaners,Unmarried,White,Male,0,0,35,Mexico,<=50K